* {
    background: #3F4B3B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

header {
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
    margin-top: 1em;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    font-size: 5em;
}

h3, h4 {
    text-align: center;
    font-size: 3em;
}

h4 span {
    font-size: 0.8em;
    border: solid black 2px;
    margin: 0.3em;
}

h4 span:hover {
    cursor: pointer;
}

#result {
    display: block;
    text-align: center;
    max-width: 50%;
    margin: auto;
    font-size: 6em;
    border: 2px solid black;
}

#guessContainer {
    display: flex;
    max-width: 50%;
    margin: auto;
}

#guessContainer button {
    width: 50%;
    font-size: 2em;
}

#isWinner {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 1em;
    font-size: 2em;
    border: 2px solid black;
}

.winner {
    background: rgb(15, 170, 15);
}

.loser {
    background: rgb(151, 7, 7);
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em;
}

.betSelected {
    background: gray;
}